.button-inicial
{
    height: 6em;  
    margin-top: 2em;
}

.button-txt 
{
    font-size: 2em;
    color: white;
}

a:hover { 
    color: white;
}

.button-relatorio
{ 
    margin-top: 4em;
    
}